.signup {
    margin: 5rem auto;
}

#signup-form {
    margin: 2rem auto;
    width: 20%;
}

.signup-form h2{
    padding-bottom: 2rem;
}

#submit-button {
    padding: 0.7rem 3rem;
    background-color: grey;
}