.bg {
  // margin-top: 11%;
  background: url("../../assets/imag/Hero.png") no-repeat;
  width: 100%;
  height: 39.45vw;
  background-size: 100% 100%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.topSection {
  width: 100%;
  height: auto;
  // height: 27.78%;
}
@media (min-width: 0px) {
  .bg {
    // margin-top: 12%;
    display: none;
  }

  .bgMobile {
    // margin-top: 11%;
    background: url("../../assets/imag/Hero.png") no-repeat;
    width: 100%;
    height: 39.45vw;
    background-size: 100% 100%;
  }

  .topSectionMobile {
    padding: 4.1vw;

    h1 {
      font-family: "Quicksand";
      font-style: normal;
      font-weight: 700;
      font-size: 7.17vw;
      line-height: 10.25vw;
      color: #080d1f;
      margin-bottom: 4.1vw;
    }
    h4 {
      font-family: "Quicksand";
      font-style: normal;
      font-weight: 500;
      font-size: 4.61vw;
      line-height: 6.15vw;
      color: rgba(8, 13, 31, 0.7);
      margin-bottom: 4.1vw;
    }
    p {
      margin-bottom: 12.3vw;
      font-family: "Quicksand";
      font-style: normal;
      font-weight: 500;
      font-size: 4.61vw;
      line-height: 6.15vw;
      a {
        text-decoration-line: underline;
        color: rgba(8, 13, 31, 0.8);
      }
    }
    .subscribe {
      p {
        margin: 0px;
        margin-bottom: 2.05vw;
        font-family: "Quicksand";
        font-style: normal;
        font-weight: 500;
        font-size: 4.1vw;
        line-height: 150%;
        color: rgba(8, 13, 31, 0.7);
      }

      .email {
        Input {
          width: 100%;
          background: #F5F5F5;
          border-radius: 2.56vw;
          margin-bottom: 4.1vw;
          padding: 3.07vw 6.15vw;
          border: none;
          font-family: 'Quicksand';
          font-style: normal;
          font-weight: 400;
          font-size: 4.1vw;
          line-height: 150%;
          color: rgba(8, 13, 31, 0.6);
        }
        Button{
          width: 100%;
          height: 12.3vw;
          font-family: 'Quicksand';
          background: #FFBD66;
          font-style: normal;
          font-weight: 600;
          font-size: 4.61vw;
          line-height: 6.15vw;
          text-align: center;
          color: rgba(8, 13, 31, 0.9);  
        }
      }
    }
  }

}

@media (min-width: 768px) {
    .bg {
      display: block;
    }
    .bgMobile {
      display: none;
    }
    .topSectionMobile{
      display: none;
    }
    .topSection .subscribe .email Button {
      padding: 0px;
    }
}

@media (min-width: 768px) {
  .topSection {
    color: #080d1f;
    h1 {
      width: 41.11vw;
      height: 7.78vw;
      margin-bottom: 1.11vw;
      margin-left: 49.16vw;
      font-family: 'Quicksand';
      font-style: normal;
      font-weight: 700;
      font-size: 3.19vw;
      line-height: 3.88vw;
    }
    h4 {
      width: 41.11vw;
      height: 1.66vw;
      margin-bottom: 2.22vw;
      margin-left: 49.16vw;
      font-family: 'Quicksand';
      font-style: normal;
      font-weight: 500;
      font-size: 1.38vw;
      line-height: 1.66vw;
      color: rgba(8, 13, 31, 0.7);
    }
    p {
      margin-top: 0px;
      margin-bottom: 6.11vw;
      margin-left: 49.16vw;
      font-size: 1.38vw;
      line-height: 1.66vw;
      a {
        font-family: 'Quicksand';
        font-style: normal;
        font-weight: 600;
        color: rgba(8, 13, 31, 0.8);
        text-decoration: underline;
      }
    }
    .subscribe {
      width: 33.88vw;
      height: 7.22vw;
      margin-left: 49.16vw;
      p {
        margin: 0px;
        margin-bottom: 0.55vw;
        padding: 0px;
        width: 100vw;
        height: 2.22vw;
        font-family: 'Quicksand';
        font-style: normal;
        font-weight: 500;
      }
      .email {
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        input {
          margin: 0px;
          padding: 1.38vw 1.11vw;
          width: 20.83vw;
          height: 4.44vw;
          font-family: 'Quicksand';
          font-style: normal;
          font-weight: 400;
          font-size: 1.25vw;
          line-height: 1.66vw;
          color: rgba(8, 13, 31, 0.6);
          background: #FFFFFF;
          box-shadow: 0px 30px 50px rgba(160, 170, 196, 0.1);
          border-radius: 10px;
          border: none;
        }
        Button {
          margin: 0px;
          width: 11.94vw;
          height: 4.44vw;
          background: #FFBD66;
          border-radius: 0.69vw;
          font-size: 1.25vw;
          line-height: 1.66vw;
          font-family: 'Quicksand';
          font-style: normal;
          font-weight: 600;
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  .bg{
    width: 1600px;
    height: 640px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3%;
    padding-bottom: 3%;
  }
  .topSection {
    // height: 400px;
    h1 {
      width: 592px;
      height: 112px;
      margin-bottom: 16px;
      margin-left: 53%; 
      font-family: 'Quicksand';
      font-style: normal;
      font-weight: 700;
      font-size: 46px;
      line-height: 56px;
      margin-bottom: 2%;
    }
    h4 {
      width: 592px;
      height: 24px;
      margin-bottom: 1%;
      margin-left: 53%; 
      font-family: 'Quicksand';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 2%;
    }
    p {
      margin-top: 0px;
      margin-bottom: 5%;
      margin-left: 53%; 
      padding: 0;
      line-height: 0;
      a {
        font-family: 'Quicksand';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
      }
    }
    .subscribe {
      width: 488px;
      height: 104px;
      margin-left: 53%; 
      p {
        margin: 0px;
        margin-bottom: 1%;
        padding: 0px;
        width: 488px;
        height: 32px;
        font-size: 18px;
        line-height: 32px;
      }
      .email {
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        Input {
          margin: 0px;
          padding: 20px 16px;
          width: 300px;
          height: 64px;
          font-family: 'Quicksand';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 24px;
          color: rgba(8, 13, 31, 0.6);
        }
        Button {
          margin: 0px;
          height: 64px;
          width: 180px;
          border-radius: 10px;
          font-size: 18px;
          line-height: 24px;
          background: #FFBD66;
        }
      }
    }
  }
}

  