/* position absolute version */
.header .logo {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 112px;
    top: 40px;
    /* margin-top: 40px;
    margin-left: 112px; */
}

.header nav {
    position: absolute;
    width: 488px;
    height: 24px;
    left: 476px;
    top: 68px;
    /* margin-top: 68px;
    margin-left: 284px; */
    padding: 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    color: black;
}

.headerSocialMedia {
    position: absolute;
    width: 177px;
    height: 24px;
    left: 1152px;
    top: 68px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}
.headerSocialMedia :nth-child(1){
    position: static;
    left: 0%;
    right: 86.44%;
    top: 8.33%;
    bottom: 8.33%;

    color: rgba(8, 13, 31, 0.9);

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 31px;

    /* color: #080D1F;
    font: Quicksand;
    list-style: none;
    float: left;
    margin-right: 31px;
    width: 24px;
    height: 24px; */
}
.headerSocialMedia :nth-child(2) {
    position: static;
    left: 31.07%;
    right: 55.37%;
    top: 8.33%;
    bottom: 8.33%;
    
    color: rgba(8, 13, 31, 0.9);
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    /* margin: 0px 39px; */
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 31px;
}
.headerSocialMedia :nth-child(3) {
    position: static;
    left: 62.15%;
    right: 24.29%;
    top: 0%;
    bottom: 0%;
    
    color: rgba(8, 13, 31, 0.9);
    
    /* Inside auto layout */
    
    flex: none;
    order: 2;
    flex-grow: 0;
    /* margin: 0px 39px; */
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 31px;
}
.headerSocialMedia :nth-child(4) {
    position: static;
    left: 93.22%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    color: rgba(8, 13, 31, 0.9);
    
    /* Inside auto layout */
    
    flex: none;
    order: 3;
    flex-grow: 0;
    /* margin: 0px 39px; */
    margin: 0px;
}