.interview-container {
    width: 65rem;
}

.interview-brief-introduction {
    text-align: left;
    margin-left: 3rem;
}

.interview-name {
    font-size: 2.5rem;
    font-family: Open Sans;
    line-height: 3rem;
    letter-spacing: 0.4px;
    font-weight: bolder;
    margin: 1rem;
}

.interview-quote {
    font-size: 2rem;
    font-family: Avenir;
    line-height: 2rem;
}

.interview-profile {
    margin: .5rem;
    max-width: 100%;
    height: auto;
}

.interview-content {
    text-align: left;
}

.interview-paragraph {
    text-align: left;
    margin: 2rem;
    font-size: Times New Roman;
}

img {
    width: 100%;
    border-radius: 50%;
}

.interview-name-bottom {
    font-family: Open Sans;
    font-weight: bolder;
}

@media screen and (max-width: 991px) {
    .interview-name {
        font-size: 2rem;
        font-family: Open Sans;
        line-height: 2rem;
        letter-spacing: 0.4px;
        font-weight: bolder;
        margin: 1rem;
    }

    .interview-quote {
        font-size: 1rem;
        font-family: Avenir;
        line-height: 2rem;
    }
}