#volunteer-section {
    margin: 5rem .5rem;
    max-width: 1440px;
    margin:0 auto;   
    
}

#volunteers {
    padding-top: 20px;
   
}

#top-section, #bottom-section {
    display: flex;
    flex-direction: row;
}

#volunteers > div > div > ul{
    display: flex;
    justify-content: left;
    margin-left:15rem;
    align-items: left;
}
/* media rules for large screens */
@media screen and (max-width: 850px) {
    #volunteers {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-width:180%;
        margin:1rem;
        padding: 9% 8.5%;   
    }
    #volunteers > div > div > ul{
        display: flex;
        justify-content: left;
        margin-left:20%;    
    }
    #volunteer-interview{
        bottom:5%;
    }
    #volunteer{
        margin:0;

    }
    #top-section, #bottom-section{
        display: flex;
        flex-direction: column;
      
    }
}

