#volunteer {
    display: flex;
    flex-direction: row;
    margin: 1.5rem 2rem;
    padding: 2rem 1.5rem;
    width: 50%;
    height: 300px;
}

#left-side {
    text-align: left;
    position: relative;
    width: 60%;
}

#volunteer-interview {
    font-weight: bold;
    position: absolute;
    bottom: 5%;
}

#right-side {
    position: relative;
    padding: 0;
}

#volunteer-profile-pic {
    max-width: 70%;
    max-height: 70%;
    height: auto;
    width: auto;
    border-radius: 50%;
}

#volunteer-name {
    font-weight: bold;
    position: absolute;
    bottom: 5%;
    text-align: center;
    width: 100%;
}