.hcr{
    width: 80%;
    margin-left: 10%;
}

.word{
    width: 90%;
    margin-left: 5%;
    height: auto;
    margin-bottom: 5%;
    margin-top: 5%;
    font-family: 'Quicksand';
    font-style: normal;
}

.childword{
    float: left;
    width: 33.3%;
    text-align: center;
    margin-bottom: 5%;
}

.t1{
    // font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 2.4vmin;
    line-height: 3.2vmin;
    /* or 133% */
    text-align: center;
    color: #080D1F;
}

.t2{
    // font-family:Quicksand;
    font-style: normal;
    font-weight: 600;
    font-size: 4.8vmin;
    line-height: 6.4vmin;
    /* identical to box height, or 133% */
    text-align: center;
    color: #CC0B25;
}

.t3{
    // font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 1.4vmin;
    line-height: 2.4vmin;
    /* identical to box height, or 171% */
    color: rgba(8, 13, 31, 0.7);
}

.chart{
    width: 86%;
    margin-left: 7%;
    margin-bottom: 5%;
    clear: both;
   }

.behind-relative {
    position: relative;
    z-index: 1;
    text-align: center;
}


.link1{
    text-align: right;
    margin-right: 8%;
    text-decoration: underline;
    margin-bottom: 5%;
}


.vm1{
   
    width: 11.3vmin;
    height: 2.3vmin;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: bold;
    font-size: 1.8vmin;
    // line-height: 22px;
/* identical to box height */
    //  text-align: center;
     color: #080D1F;
}



