#hero-card{
  max-width: 1440px;
  margin: 0 auto;
}
#hero-image {
  max-width: 1440px;

}
.hero-wrapper {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}
@media screen and (max-width: 767px){
  #hero-text-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    width: 30%;
    max-width: 432px;
    height: 90%;
    left: 10%;
    top: 5%;
    background-color: yellow;
    box-sizing: border-box;
    background: #FFD500;
    border: 1px solid #000000;
  }
  #hero-title {
    margin-left: 24px;
    width: 1245px;
    height: 128px;
    font-family: sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px;
    letter-spacing: 0.4px;
    color: var(--neutral-neutral-01, #18181A);
  }

  #hero-subtitle {
    text-align: start;
    margin-left: 1.8vw;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    padding-top: 10%;
    font-size: 1.1vw;
    line-height: 150%;
  }

}
@media screen and (min-width: 768px) {
  #hero-text-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: 803px;
    max-height: 315px;
    margin-top: 8.47vh; /* Convert 122px to 8.47vh (122/1440 * 100) */
    margin-left: 4.79vw; /* Convert 69px to 4.79vw (69/1440 * 100) */
    margin-bottom: 8.54vh;
    margin-right: 39.44vw;
    background-color: yellow;
    box-sizing: border-box;
    background: #FFD500;
    border: 1px solid #000000;
  }

  #hero-title {
    font-family: sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px;
    letter-spacing: 0.4px;
    color: var(--neutral-neutral-01, #18181A);
  }

  #hero-subtitle {
    width: 100%;
    height: auto;
    text-align: start;
    margin-left: 1.8vw;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.1vw;
    line-height: 150%;
    margin-top: 11.11vh;

  
  }
}

@media screen and (min-width: 1440px) {
  #hero-text-container {
    box-sizing: border-box;
    position: absolute;
    box-sizing: border-box;
    width: 803px;
    height: 315px;
    background-color: yellow;
    box-sizing: border-box;
    background: #FFD500;
    border: 1px solid #000000;
  }

  .title-container{
    display: flex;
    justify-content: center;
    text-align: center;

  }
  #hero-title {
    width: 1245px;
    height: 128px;
    margin-top: 48px;
    font-family: sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px;
    letter-spacing: 0.4px;
    color: var(--neutral-neutral-01, #18181A);
    text-align: center;
  }

  #hero-subtitle {
    width: 386px;
    height: 320px;
    color: var(--neutral-neutral-01, #18181A);
font-family: sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 133.333% */
padding-right: 58px;
margin-top: 24px;

  }
  .hero-image-container{
    display: flex;


  }

  .hero-text-container{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
  }

  .title-2{
    margin-right: 60px;
    width: 500px;
    height: 40px;
    color: var(--neutral-neutral-01, #18181A);
text-align: center;
/* Heading/Heading2 */
font-family: sans-serif;
font-size: 32px;
font-style: normal;
font-weight: 800;
line-height: 40px; /* 125% */
letter-spacing: 0.4px;
  }
}
