#projectTracker-container {
    padding-top: 128px;
    max-width: 1440px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 64px;
}

.project-h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#ProjectTracker-title-2 {
    color: #18181A;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.4px;
    white-space: nowrap;
}

#topSection-title {
    color: #000;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px;
    letter-spacing: 0.4px;
    background: linear-gradient(to top, #ffd500 50%, #ffd500 50%, transparent 50%, transparent 100%);
    white-space: nowrap;
}

#eye {
    width: 100px;
    height: var(--Section-Vertical-Margin-Large, 100px);
    flex-shrink: 0;
}

.p2 {
    font-size: 16px;
}

.pj-titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 64px;
}

#working-text {
    text-align: left;
    margin-top: 24px;
}


#mac {
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
    width: 100%;
    height: auto;
}

#tracker-button {

    background-color: rgb(255, 197, 48);
    border-color: rgb(255, 197, 48);
    border-radius: 2px;
    width: 297px;
    height: 61px;
    font-size: 20px;
    color: rgb(55, 42, 6);
    text-align: center;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
    border-radius: var(--Redius, 2px);
    border: 1px solid var(--Primary-color, #ffc530) !important;
    background: var(--Primary-color, #ffc530) !important;
    padding: 0px !important;

}

#button-container {
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    text-transform: uppercase;
    padding: 0px !important;
}

#picture-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#what-is-tracker {
    padding-bottom: 128px;

}

@media screen and (max-width: 991px) {
    #topSection-title {
        font-size: 3.25vw;
        line-height: 4.3vw;
        background-size: 100% 4.3vw;
    }
    #ProjectTracker-title-2 {
        font-size: 3vw !important; 
        line-height: 3.75vw !important;
    }
}

@media screen and (min-width: 700px) and (max-width: 765px) {
    #topSection-title {
        font-size: 3vw;
        line-height: 4vw;
        background-size: 100% 4vw;
    }
    #ProjectTracker-title-2 {
        font-size: 2.5vw !important; 
        line-height: 3.125vw !important;
    }
}

@media screen and (min-width: 591px) and (max-width: 650px) {
    #topSection-title {
        font-size: 3.5vw;
        line-height: 4.6vw;
        background-size: 100% 4.6vw;
    }
    #ProjectTracker-title-2 {
        font-size: 2.75vw !important; 
        line-height: 3.4375vw !important;
    }
}

@media screen and (max-width: 590px) {
    #topSection-title {
        font-size: 4vw;
        line-height: 5.2vw;
        background-size: 100% 5.2vw;
    }
    #ProjectTracker-title-2 {
        font-size: 3vw !important; 
        line-height: 3.75vw !important;
    }
}

@media screen and (min-width: 992px) {
    #topSection-title {
        font-size: 48px;
        line-height: 64px;
        background-size: 100% 64px;
    }
    #ProjectTracker-title-2 {
        font-size: 32px !important; 
        line-height: 40px !important;
    }
}