#workingOn-section {
  display: flex;
  padding: 128px 221px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}

#working-on-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

#project-block {
  gap: 80px;
}

.main-title {
  margin: 0;
  color: #18181A;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0.4px;
}

#workingOn-pic {
  width: 263px;
  height: 315px;
}

.title {
  color: var(--neutral-neutral-01, #18181A);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 28px;
  letter-spacing: 0.4px;
}

.working-text {
  color: var(--neutral-neutral-01, #18181A);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
}

.link {
  color: var(--Secondary-color, #0F54DB);
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

}

#inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;

}

@media screen and (min-width: 769px) and (max-width: 991px) {
  #working-on-container{
    width: max-content;
  }
}
@media screen and (max-width: 768px) {
  #working-on-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space_1, 8px);
    align-self: stretch;
  }

  .main-title {
    width: max-content;
    color: #18181A;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0.4px;
  }

  #project-block{
    gap: 80px;
  }
}

@media screen and (min-width: 1200px) {
  #inner {
    height: 50%;
  }
  .link {
    margin-top: auto;
  }
}