







/* 
@media screen and (max-width: 1292px) {
    #story-quote{
        font-size: .75em;
        line-height: 1.5rem; 
        
    }
} 

@media screen and (max-width: 1213px) {
    #story-quote{
        font-size: .7em;
        line-height: 1.3rem; 
        
    }
} 

@media screen and (max-width: 1134px) {
    #story-quote{
        font-size: .65em;
        line-height: 1.2rem; 
        
    }

}

@media screen and (max-width: 1054px) {
    #story-quote{
        font-size: .6rem;
        line-height: 1.1rem; 
        
    }
    #story-name{
       font-size:.7em;
       line-height: 1rem; 
    }

}
@media screen and (max-width: 977px) {
    #story-quote{
        font-size: .55rem;
        line-height: 1rem; 
        
    }
    #story-name{
       font-size:.6em;
       line-height: 1rem; 
    }

} */

/* @media screen and (max-width: 896px) and (min-width: 768px) {
    #story-section > div.carousel-root > div > div > ul {
       margin-left: 1350px;
       margin-top:15px;
       
    }
    #story{
       height: 350px;
       width: 450px;
     
    }

    #story-desc{
        width:120%;
    }
    #profile-pic{
        width: 80%;
        margin-left:30px;
        
    }
    #story-quote{
        font-size: .8em;
        line-height: 1.2rem;   
    }

}

@media screen and (max-width: 767px) {
    #story{
        height:500px;
        margin-top:30px;
    }
    #story-body{
        width: 40%;
       
    }
    #profile-pic{
        width: 80%;
        margin-left:30px;
    }
    #story-quote{
        font-size: 1em;
        line-height: 2rem; 

        
    }

}



 */