#story {
    margin: 0 1rem;
    height: 380px;
    border-radius: 20px;
}

#story-body {
    display: flex;
    flex-direction: row;
    text-align: left;
    padding: 1rem 1.5rem 0 1.5rem;
    position: relative;
}

#story-name {
    position: absolute;
    top: 60%;
    font-weight: bold;
}

#story-quote {
    padding: 2rem 1.5rem 0 1.5rem;
    text-align: left;
    font-size: larger;
}

#profile-pic {
    height: 130px;
    width: 130px;
    border-radius: 100px;
    position: absolute;
    right: 10%;
}