.card-img{
   
}
#stories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 33vw;
    
}


@media screen and (min-width: 768px) {
    .story-text {
        font-size: 16px;
    }
    
    #story-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        max-width: 1440px;
        margin: 0 auto;
        height: 73vw;
        padding: 9% 8.5%;
        background: #F4F4F4;
    }
    
    #story-desc {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 40vw;
        height: 16vw;
    }
    
    .our-story {
        margin: 0;
        /* when choose Open Sans then, font-weight: 800 will not take effect */
        font-family: 'Open Sans'sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
        color: #18181A;
        letter-spacing: 0.4px;
        width: 162px;
        height: 40px;
        
    }
    
    .story-text {
        margin: 0;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #18181A;
    }
    
    .story-button {
        width: 108px;
        height: 43px;
        padding: 0%;
        display:flex;
        align-items:center;
        justify-content:center;
        background: #A399FF;
        font-family: 'Open Sans' sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: #232830;
    }
    
    .story-button-text {
        padding: auto;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: #232830;
    }
    
    #stories {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 33vw;
        
    }
   
    #story{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    #story-quote{
        font-size: .8rem;
        line-height: 1.5rem; 
        
    }
  
  
  
}

@media screen and (min-width: 1440px) {
    #story-section {
        width: 100%;
        padding: 8rem 7.5rem;
        height: 976px;
    }
    .our-story {
        font-size: 32px;
        line-height: 40px;
    }
    #story-desc {
        width: 49.33%;
        height: 230px;
    }
    .story-text {
        font-size: 16px;
        margin-top: 1.5em;
        margin-bottom: 2.5em;
    }
    .story-button {
        width: 134px;
        height: 54px;
    }
    #stories {
        height: 426px;
    }
    #story-quote{
        font-size: .8rem;
        line-height: 1.5rem; 
        
    }
    
  
  
    
}



@media screen and (max-width: 1292px) {
    #story-quote{
        font-size: .75em;
        line-height: 1.5rem; 
        
    }
} 

@media screen and (max-width: 1213px) {
    #story-quote{
        font-size: .7em;
        line-height: 1.3rem; 
        
    }
} 

@media screen and (max-width: 1134px) {
    #story-quote{
        font-size: .65em;
        line-height: 1.2rem; 
        
    }

}

@media screen and (max-width: 1054px) {
    #story-quote{
        font-size: .6rem;
        line-height: 1.1rem; 
        
    }
    #story-name{
       font-size:.7em;
       line-height: 1rem; 
    }

}
@media screen and (max-width: 977px) {
    #story-quote{
        font-size: .55rem;
        line-height: 1rem; 
        
    }
    #story-name{
       font-size:.6em;
       line-height: 1rem; 
    }

}
@media screen and (max-width: 896px) and (min-width: 768px) {
    #story-section > div.carousel-root > div > div > ul {
       margin-left: 1350px;
       margin-top:15px;
       
    }
    #story{
       height: 350px;
       width: 450px;
     
    }

    #story-desc{
        width:120%;
    }
    #profile-pic{
        width: 80%;
        margin-left:30px;
        
    }
    #story-quote{
        font-size: .8em;
        line-height: 1.2rem;   
    }

}

@media screen and (max-width: 767px) {
    #story{
        height:500px;
        margin-top:30px;
    }
    #story-body{
        width: 40%;
       
    }
    #profile-pic{
        width: 80%;
        margin-left:30px;
    }
    #story-quote{
        font-size: 1em;
        line-height: 2rem; 

        
    }

}





/* @media screen and (max-width: 1300px) {
    #story-quote{
        font-size: .8rem;
        line-height: 1.5rem; 
        
    }
}

@media screen and (max-width: 1200px) {
    #story-quote{
        font-size: .7rem;
        line-height: 1.5rem; 
        
    }
}
@media screen and (min-width: 1100px) {
    #story-quote{
        font-size: .65rem;
        line-height: 1.5rem; 
        
    }
} */