#story-section {
    margin: 7rem 8rem;
}

#story-desc {
    padding: 0 10rem 3rem 10rem;
}

#story-desc p {
    margin: 1.5rem 0 2rem 0;
}

#story-desc h6 {
    font-weight: bold;
}

#stories {
    display: flex;
    flex-direction: row;
}

/* media rules for large screens */
@media screen and (min-width: 1600px){
    #story-section {
        margin: 7rem 20rem;
    }
    .our-story{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;

    text-align: center;

    color: #18181A;
    }

    .story-text{
        display: flex;
        justify-content: center;
        font-family: Open Sans;
        


    }
}