#who-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 128px ;
    margin-bottom: 128px;
    margin-left: 323px;
    margin-right: 323px;
}

.who-title{
    width: 388px;
    height: 40px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    color: #18181A;
}

.who-text{
    margin-top: 24px;
    width: 794px;
    height: 72px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;   
    text-align: center;
    color: #18181A;
}

