#about-us-container {
    position: relative;
    max-width: 1440px;
    padding: 0;

}

.heart {
    margin-top: -220px;
    max-width: 1440px;
    width: 100%;
}

.about-us-row {
    padding: 3rem;
}

.about-us-title {
    font-size: 40px;
    font-weight: bold;
    font: normal;
    text-align: left;
}

.subtitle {
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}
.about-paragraph {
    font-size: 16px;
    text-align: left;
    font-family: sans-serif;
}
.signupTitle{
        color: #333;
            font-size: 30px;
            font-weight: 700;
            line-height: 50px;
            margin-bottom: 35px;
            text-transform: capitalize;
}