.project {
    display: flex;
    flex-direction: row;
    background-color: lightgrey;
    align-items: center;
    text-align: left;
    height: 400px;
    position: relative;
}

#project-bottom{
    height: 300px;
}

#project-body-top {
    width: 40%;
    padding: 0 2rem;
}

#project-body-bottom {
    width: 55%;
    padding: 0 2rem;
}

#learn-more {
    position: absolute;
    bottom: 8%;
}

#project-image-top{
    width: 60%;
    height: 100%;
}

#project-image-bottom {
    width: 45%;
    height: 100%;
}