.tracker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 128px 323px;
  gap: 34px;
  background: linear-gradient(111.14deg, #0C0928 32.23%, #261A7E 95.87%);
}

#together,
#victim-support {
  height: 280px;
}

#body-tracker,
#body-together,
#body-victim-support {
  width: 55%;
  padding: 0 2rem;
}

.card-title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.card-text {
  width: 592px;
  height: 88px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #FFFFFF;
  margin-top: 34px;
}

#learn-more {
  position: absolute;
  bottom: 8%;
  background-color: yellow;
  border-radius: 8px;
}

.learnMore-text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #0C0928;
}

#image-tracker {
  width: 60%;
  height: 100%;
  content: url("assets/home-page/graph.svg");
}

#image-together {
  width: 45%;
  height: 100%;
  content: url("assets/home-page/placeholder-image.png");
}

#image-victim-support {
  width: 45%;
  height: 100%;
  content: url("assets/home-page/placeholder-image.png");
}

/* media rules for large screens */
@media screen and (min-width: 1600px) {
  .project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 128px 323px;
    gap: 34px;
    background: linear-gradient(111.14deg, #0C0928 32.23%, #261A7E 95.87%);
  }

  #together,
  #victim-support {
    height: 330px;
  }
}

.cases-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 34px;
  margin-bottom: 34px;
}

.cases-text {
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 800;
  line-height: 28px;
  letter-spacing: 0.4000000059604645px;
  text-align: center;
  color: #FFD800;
}