#home-project-section {
    margin: 4rem 9rem;
}

#bottom {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

#middle {
    width: 6rem;
}

/* media rules for large screens */
@media screen and (min-width: 1600px){
    #home-project-section {
        margin: 5rem 17rem;
    }
}