.project {
    display: flex;
    flex-direction: row;
    background-color: lightgrey;
    align-items: center;
    text-align: left;
    height: 400px;
    position: relative;
}

#bottom-left, #bottom-right {
    height: 300px;
}

#body-top {
    width: 40%;
    padding: 0 2rem;
}

#body-bottom-left, #body-bottom-right {
    width: 55%;
    padding: 0 2rem;
}

#learn-more {
    position: absolute;
    bottom: 8%;
}

#image-top {
    width: 60%;
    height: 100%;
    content: url("assets/home-page/placeholder-image.png");
}

#image-bottom-left {
    width: 45%;
    height: 100%;
    content: url("assets/home-page/placeholder-image.png");
}

#image-bottom-right {
    width: 45%;
    height: 100%;
    content: url("assets/home-page/placeholder-image.png");
}