.background {
  max-width: 1440px;
  background: #f4f4f4;
  margin: 0 auto;
}

@media screen and (max-width: 799px) {
  #content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content-title {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    color: #18181a;
  }

  .content-text {
    margin-top: 24px;
    width: 90vw;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #18181a;
  }
}

@media screen and (min-width: 800px) {
  #content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 128px 5%;
    gap: 24px;
  }

  .content-title {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    color: #18181a;
  }

  .content-text {
    margin-top: 24px;
    width: 794px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #18181a;
  }
}

@media screen and (min-width: 1440px) {
  #content-container {
    max-width: 1440px;
  }
}
