.ActionPageTop {
    width: 100%;
    height: auto;
    // height: 314px;
    margin-top: 5%;
    background: linear-gradient(0deg, #FFF3D9, #FFF3D9);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.ActionPageTop > h1 {
    height: 56px;
    margin-top: 80px;
    margin-bottom: 80px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 6vmin;
    line-height: 9vmin;
    text-align: center;
    
    color: #080D1F;
}

.ActionPageTop > button {
    margin-bottom: 90px;
    width: 280px;
    height: 48px;
    
    background: #FFC466;
    border-radius: 10px;

    text-align: center;
    color: rgba(8, 13, 31, 0.9);
    font-family: Quicksand;
    font-style: normal;
    font-weight: 600;
}