.nav {
  max-width: 1440px;
  margin: 0 auto;
  height: 150px;
}

.brand-container {
  display: flex;
  flex-direction: row;
  width: 130px;
  height: 58.48px;
}

.logo {
  width: 68.402px;
  height: 58.485px;
}

.logo-text {
  width: 80px;
  height: 48px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 16px;
  color: #18181a;
  text-align: start;
}

.inner-text {
  height: 22px;
  width: auto;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.4000000059604645px;
  text-align: left;
  text-transform: uppercase;
  color: #18181a;
}

#responsive-navbar-nav-control {
  position: absolute;
  top: 5em;
  right: 1%;
  margin-top: -45px;
  width: 3em;
  height: 45px;
  z-index: 5;
  transition: all 0.3s ease-in-out;
}

#responsive-navbar-nav {
  justify-content: flex-end;
}

.offcanvas {
  width: 100% !important;
  max-width: 100% !important;
}

.offcanvas-header {
  width: 100%;
  padding: 1rem;
}

.offcanvas-logo {
  width: 100%;
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.offcanvas .nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offcanvas .nav-link {
  padding: 2rem 50rem;

  text-align: center;
  border-bottom: 0.8px solid grey;
}

.offcanvas .nav-link + .nav-link {
  margin-top: 1.5rem;
}
