.nav {
    font-size: 20px;
    padding: 2rem 4rem;
}

.link {
    margin: 0 1em;
}
/* media rules for phone screens */
@media screen and (min-width: 720px){
    .nav {
        padding: 2.5rem 4rem;
    }
    .container{
        display: flex;
        justify-content: flex-start;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    .brand-container {
        display: flex;
        align-items: center;
    }
    .text-container{
        margin-left: 8px;
        white-space: pre-wrap;
    }
    .logo{
        height: 62px;
        width: 62px;
        left: 120px;
        top: 24px;
        border-radius: 0px;
    }
    .logo-text{
        width: 71px;
        height: 48px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        text-transform: uppercase;
        color: #18181A;
    }
    .inner-text{
        height: 22px;
        width: 110px;
        font-family: Open Sans;
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0.4000000059604645px;
        text-align: left;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    }


@media screen and (min-width: 1400px){
        .nav {
        padding: 2.5rem 4rem;
        }
        .container{
        display: flex;
        justify-content: flex-start;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
        .brand-container {
        display: flex;
        align-items: center;
        }
        .text-container{
        margin-left: 8px;
        white-space: pre-wrap;
        }
        .logo{
        height: 62px;
        width: 62px;
        left: 120px;
        top: 24px;
        border-radius: 0px;
        }
        .logo-text{
        width: 71px;
        height: 48px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        text-transform: uppercase;
        color: #18181A;
        }
        .inner-text{
        height: 22px;
        width: 110px;
        font-family: Open Sans;
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0.4000000059604645px;
        text-align: left;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
        }
/* media rules for large screens */
@media screen and (min-width: 1600px){
    .nav {
        padding: 2.5rem 4rem;
    }
    .container{
        display: flex;
        justify-content: flex-start;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    .brand-container {
        display: flex;
        align-items: center;
    }
    .text-container{
        margin-left: 8px;
        white-space: pre-wrap;
    }
    .logo{
        height: 62px;
        width: 62px;
        left: 120px;
        top: 24px;
        border-radius: 0px;
    }
    .logo-text{
        width: 71px;
        height: 48px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        text-transform: uppercase;
        color: #18181A;
    }
    .inner-text{
        height: 22px;
        width: 110px;
        font-family: Open Sans;
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0.4000000059604645px;
        text-align: left;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    }


