.ActionPageBody {
    width: 100%;
    margin-bottom: 10%;
}

.ActionPageBody h1 {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 6vmin;
    line-height: 9vmin;
    
    color: #080D1F;
}

.ActionPageBody ul {
    padding: 0px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10%;
}

.ActionPageBody li {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 2.5vmin;
    line-height: 4.5vmin;
    width: 100%;
    color: rgba(8, 13, 31, 0.7);
}

