footer {
    /* position: relative; */
    width: 100%;
    height: auto;
    // width: 1440px;
    // height: 264px;
    background: linear-gradient(0deg, #FFF3D9, #FFF3D9);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer .subscribe {
    width: 592px;
    height: 112px;
    margin: 72px 0px 80px 112px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.subscribe > h3 {
    width: 488px;
    height: 32px;
    margin: 0px;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    
    color: #080D1F;
}

.email {
    width: 592px;
    height: 56px;
}
.email > input {
    width: 60vmin;
    height: 8vmin;
    padding: 16px;
    border: 0;
    
    background: #FFFFFF;
    box-shadow: 0px 30px 50px rgba(180, 191, 221, 0.1);
    border-radius: 10px;

    /* text */
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: normal;
    font-size: 2.5vmin;
    line-height: 3vmin;
    
    color: rgba(8, 13, 31, 0.6);
}
.email > button {
    width: 22vmin;
    height: 8vmin;
    padding: 0;
    border: 0;
    margin-left: 3vmin;
    
    background: #FFBD66;
    box-shadow: 0px 30px 50px rgba(143, 157, 196, 0.1);
    border-radius: 10px;

    /* text on button */
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-size: 2.5vmin;
    line-height: 3vmin;
    text-align: center;
    color: rgba(8, 13, 31, 0.9);
}

footer .rightSide {
    height: 72px;
    margin: 112px 72px 80px 0px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    font-family: 'Quicksand';
    font-style: normal;
}

footer .socialMedia {
    width: 177px;
    height: 24px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
