#action-section {
    height: 86.8vh;
    background: #FFD800;
    display: flex;
    flex-direction: row;
}

.action-left-side {
    width: 51.5%;
    padding: 8.5vw 0 5.8vw 8vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.action-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    color: #18181A;
}

.action-description {
    text-align: left;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #18181A;
}

.action-container {
    width: 40vw;
    height: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.action-img {
    margin-right: 1.6vw;
    width: 5.5vw;
    height: 5.5vw;
}

.action-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    color: #18181A;
}

.action-right-side {
    align-self: flex-end;
    width: 49.5%;
    height: 100%;
    background-image: url('../../../assets//home-page/stock_Image.svg');
    background-size: cover; /* Scale the image to cover the entire element */
    background-position: center;
}

/* below is not used */
.action-row {
    display: flex;
    flex-direction: row;
}

/* below is not used */
#find-button {
    margin: 4rem 0 8rem 0;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    font-size: larger;
    background-color: grey;
    width: 20%;
}

@media  screen and (min-width: 1440px) {
    #action-section {
        display: flex;
        height: 782px;
        margin-left: 0%;
        margin-right: 0%;
    }
    .action-left-side {
        padding: 8em 0 5.75em 7.5em;
    }
    .action-container {
        width: 576px;
        height: 562px;
    }
    .action-img {
        width: 80px;
        height: 80px;
    }
    .action-text {
        font-size: 24px;
        line-height: 33px;
    }
}
    