#action-section {
    margin: 0rem 8rem;
}

#action-desc {
    padding: 0 15rem 2rem 15rem;
}

#action-desc p {
    padding-top: 0.8rem;
}

.action-row {
    display: flex;
    flex-direction: row;
}

#find-button {
    margin: 4rem 0 8rem 0;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    font-size: larger;
    background-color: grey;
    width: 20%;
}

/* media rules for large screens */
@media screen and (min-width: 1600px){
    #action-section {
        display: flex;
        background: #FFD800;
    }
    .left-side,.right-side {
        flex: 1;
    }
    .h2{
        margin-left: 121px;
        margin-top: 128px;
        width: 456px;
        height: 44px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 800;
        font-size: 32px;
        line-height: 44px;
        color: #18181A;
    }

    .p1{
        margin-left: 121px;
        margin-top: 24px;
        margin-bottom: 40px;
        width: 590px;
        height: 44px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #18181A;
    }
    
    .action-container{
        margin-left: 121px;
        margin-bottom: 26.19px;
    }

    .action-text{
        margin-left: 23.68px;
        width: 207px;
        height: 33px;
        left: 221px;
        top: 289px;

        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 33px;
        color: #18181A;
            }
}