.your-actions-left {
  border: white;
  background-color: white;
  align-items: center;
  text-align: left;
  padding: 2%;
}

ul,
li {
  list-style: none;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

li span {
  font-weight: bold;
}

.your-actions-left .title {
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
}

.your-actions-left .text {
  width: 90%;
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
