@media only screen and (min-width: 500px) {
  .hcr {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hcr-backgrund {
    height: 1056px;
    margin: 0;
    background: linear-gradient(51.3deg, #140033 -5.26%, #5200ff 93.17%);
  }
  .chart {
    height: auto;
    width: 92%;
    margin: 1rem 0;
  }
  .chart-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .t3 {
    white-space: nowrap;
    width: auto;
    height: 40px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 4vw;
    line-height: 125%;
    text-align: center;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    color: #f4f4f4;
    margin-bottom: 1rem;
  }
  .t4 {
    margin-top: 34px;
    width: 480px;
    height: 88px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2vw;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.4px;
    color: #f4f4f4;
  }

  .t2 {
    padding-top: 20%;
    width: 200px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 28px;
    color: #ffd800;
  }

  .t1 {
    font-weight: 500;
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
  }

  .col-3 {
    width: 100%;
  }

  .t-cases {
    width: 100%;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 28px;
    color: #ffd800;
  }

  .link1 {
    margin-top: 1rem;
  }

  .chart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 148spx;
    height: 54px;
    background: #ffd500;
    border-radius: 3px;
  }

  .chart-button-text {
    width: 100px;
    height: 22px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #18181a;
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .hcr-backgrund {
    height: 891px;
    margin: 0 auto;
    padding: 2.17rem 2rem;
    background: linear-gradient(51.3deg, #140033 -5.26%, #5200ff 93.17%);
  }

  .hcr {
    width: 100%;
    margin: auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .chart-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 3.33rem;
  }

  .t3 {
    margin: 0px;
    white-space: nowrap;
    width: auto;
    height: 40px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 125%;
    text-align: center;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    color: #f4f4f4;
  }

  .t4 {
    margin-top: 34px;
    width: 592px;
    height: 88px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.4px;
    color: #f4f4f4;
  }

  .chart {
    margin: 2rem 0;
    width: 92%;
    height: 382px;
    border-radius: 16px;
  }

  .t-cases {
    width: 100%;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 28px;
    color: #ffd800;
  }

  .word {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
  }

  .childword {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 187px;
  }

  .col-3 {
    width: 100%;
    justify-items: center;
    justify-content: center;
    text-align: center;
  }

  /* Text/Body still need to adjust */
  .t1 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.4px;
    padding-top: 16px;
    color: #f4f4f4;
    width: 187px;
  }

  .chart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 148spx;
    height: 54px;
    background: #ffd500;
    border-radius: 3px;
  }

  .chart-button-text {
    width: 100px;
    height: 22px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #18181a;
    text-align: center;
  }

  .link1 {
    margin-top: 1rem;
  }
}

@media only screen and (min-width: 1024px) {
  .chart {
    width: 92%;
  }
}

@media only screen and (min-width: 1440px) {
  .hcr-backgrund {
    max-width: 1440px;
    height: 891px;
    padding: 50px 120px;
  }
  .hcr {
    width: 1200px;
    height: 791px;
    padding: 0px;
    margin: 0px;
  }
  .chart-title {
    width: 521px;
    height: 40px;
  }
  .t3 {
    margin: 0px;
  }
  .t4 {
    width: 792px;
    height: 81px;
  }
  .chart {
    width: 1200px;
    height: 382px;
  }
  .word {
    width: 389px;
    height: 98px;
    margin: 34px auto;
    padding: 0px;
  }
  .col-3 {
    width: 100%;
  }
  .t-cases {
    width: 100%;
  }
  .link1 {
    width: 148px;
    margin: 0px;
  }
}
